{% extends 'base.html.twig' %}
{% block title %}Profil modification{% endblock %}

{% block body %}
{% for message in app.flashes('message') %}
<div class="alert alert-success text-center" role="alert">
    {{ message }}
</div>
{% endfor %}

<div class="container text-center">
    <h1>Modification password</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}

    <button type="submit" class="btn-roun-shadow btn btn-primary">Update password</button>

    {{ form_end(form) }}
</div>

{% endblock %}